<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <li class="navbar-brand" (click)="toHome()">Home</li>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-link" (click)="toCars()">Cars
        </li>
        <li class="nav-item nav-link" (click)="toContacts()">Contact Us
        </li>


      </ul>
      <app-login></app-login>

<!--      <h4> or </h4>-->
        <li class="nav-item nav-link">
              <button mat-raised-button class="btn btn-outline-primary my-2 my-sm-0" (click)="register.openDialog()">Register</button>
              <app-register #register></app-register>
        </li>


    </div>
  </nav>
