<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <li class="navbar-brand" (click)="toHome()">Home</li>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-link" (click)="toCars()">Cars
        </li>
        <li class="nav-item nav-link" (click)="toContacts()">Contact Us
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="username" aria-label="Search">
        <input class="form-control mr-sm-2" type="password" placeholder="password" aria-label="Password">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
      </form>
      <h4> or </h4>
      <button class="btn btn-outline-primary my-2 my-sm-0">Register</button>
    </div>
  </nav>
