<div class="example-container">

  <h1>Registration form</h1>

    <mat-form-field class="example-full-width">
<!--          <mat-label>username</mat-label>-->
      <input matInput [(ngModel)]="data.name"  placeholder="username">
    </mat-form-field>

    <br />

  <mat-form-field class="example-full-width">
    <mat-label>email</mat-label>
    <input matInput [(ngModel)]="data.email"  placeholder="email@email.com" required>
  </mat-form-field>

  <br />
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [(ngModel)]="data.password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Enter your password again</mat-label>
      <input matInput [(ngModel)]="data.passwordAgain" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
    </div>
</div>
