<div class="example-container" [formGroup]="form">

  <h1 mat-dialog-title>Registration Form</h1>

    <mat-form-field class="example-full-width">
<!--          <mat-label>username</mat-label>-->
      <input matInput formControlName="firstName"  placeholder="First Name">
    </mat-form-field>

    <br />

  <mat-form-field class="example-full-width">
    <mat-label>email</mat-label>
    <input matInput placeholder="pat@example.com" formControlName="email">
    <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="form.get('email').hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>


  <br />
  <mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput formControlName="passwordPlain" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Enter your password again</mat-label>
      <input matInput formControlName="passwordPlainCheck" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

  </mat-dialog-content>
    <div mat-dialog-actions align="end">
      <button mat-raised-button color="primary" (click)="save()" [disabled]="!form.valid">Ok</button>
      <button mat-button (click)="close()">Cancel</button>
    </div>
</div>
